.artist-thumb {
  width: 130px;
  height: 100%;
  /* float: left; */
  margin-right: 20px;
}

.img-div {
  margin-bottom: 15px;
}

.saved-song {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px 0;
  margin-bottom: 25px;
}

.delete-song {
  cursor: pointer;
}
