<div>
  <h2 class="mb-5" *ngIf="username">Welcome, {{username}}</h2>

  <h3 class="mb-4">Your Saved Songs</h3>
  <div class="container">
    <div class="saved-song row" *ngFor="let song of playlists; let i=index">
      <div class="img-div mb-md-0 col-md-4">
        <img class="artist-thumb rounded" src="{{song.img}}">
      </div>
      <div class="col-md-8">

        <h4 class="mb-2">{{song.artist}}</h4>
        <h5 class="mb-2">{{song.name}}</h5>
        <a href="{{song.preview}}" target="_blank">View Artist On Spotify</a>
        <p (click)="deleteSong(song._id, song.spotifyId)" class="my-2 delete-song text-warning">Delete Song</p>
      </div>
    </div>
  </div>
</div>