.center-pic{
display:block;
margin:auto;
}

table
{
	margin: auto;
	width: 600px;

	font-family: "Century Gothic";
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: #121212;
	border-spacing: 20px;
}


caption
{
	font-style: italic;
	font-weight: bolder;
	padding-top: 50px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}