body {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    margin: 0%;

    min-height: 100vh;
    /*display: flex;*/
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    /*overflow: auto;*/
}

.main_container {
    padding: 90px;
    width: 100%;
    height: 100%;
    z-index: 99;
    /* margin-left: 130px; */
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE Ð¸ Edge */
    scrollbar-width: none;  /* Firefox */
}