* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 200px;
  padding: 0 10px;
  margin: 5px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*padding: 16px;*/
  text-align: center;
  background-color: #202e3d;
  color: #fff;
  margin: 10px;
  width: 150px;
  height: 170px;
  max-width: 200px;
  max-height: 200px;
  z-index: 99999;
}

/*
.track_name:hover {

}
*/

.card:hover {
  background-color: #a31717;
  /*color: #a31717;*/
}

.library_image {
  padding: 10px;
  height: 120px;
  width: 120px;
} 

#lynx_title {
  align-items: center;
  position: absolute;
  left: 44%;
  top: 30px;
  font-family: 'lato',sans-serif;
  font-size: 50px;
  color:  #fff;/*#202e3d;*/
  letter-spacing: 10px;
  font-style: italic;
  font-weight: 800;
}

#lynx_title :hover {
  color: #a31717;
}

#lynx_description {
  align-items: center;
  position: absolute;
  left: 30%;
  top: 90px;
  font-family: 'lato',sans-serif;
  font-size: 25px;
  color: #fff;
  letter-spacing: 10px;
  font-style: italic;
}