<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>




<% # Pen title %>
<div class="player">
  <div class="player_inner">
    <div class="player_inner__top">
      <div class="t_left">
        <i class="fa fa-bars"></i>
      </div>
      <div class="t_mid">
        <h1>CUB3DPlayer</h1>
      </div>
      <div class="t_right">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="player_inner__middle">
      <input class="trigger--4" name="omni" type="radio"></input>
      <input class="trigger--3" name="omni" type="radio"></input>
      <input class="trigger--2" name="omni" type="radio"></input>
      <input class="trigger--1" name="omni" type="radio"></input>
      <input class="empty"></input>
      <div class="cube">
        <div class="cube_inner">
          <div class="cube_inner__front">
            <div class="bars">
              <% (1..10).each do %>
                <div class="bars_bar"></div>
              <% end %>
            </div>
            <div class="details">
              <div class="details_album"></div>
              <h2>Koan Sound - Meanwhile in the future</h2>
              <h3>Funkblaster</h3>
            </div>
          </div>
          <div class="cube_inner__left">
            <div class="options">
              <i class="fa fa-headphones"></i>
              <i class="fa fa-redo-alt"></i>
              <i class="fa fa-random"></i>
              <i class="fa fa-fast-forward"></i>
              <i class="fa fa-music"></i>
            </div>
          </div>
          <div class="cube_inner__right">
            <div class="volume">
              <% (1..14).each do %>
                <div class="volume_pip"></div>
              <% end %>
              <i class="fa fa-volume-up"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="r_trim"></div>
      <div class="l_trim"></div>
      <div class="shadow_right"></div>
      <div class="shadow_left"></div>
    </div>
    <div class="player_inner__bottom">
      <div class="options">
        <i class="fa fa-repeat"></i>
        <i class="fa fa-random"></i>
      </div>
      <div class="playbar">
        <div class="playbar_inner"></div>
        <div class="playbar_left">
          <span>0:00</span>
        </div>
        <div class="playbar_right">
          <span>3:45</span>
        </div>
      </div>
      <div class="controls">
        <div class="controls_left">
          <i class="fa fa-step-backward"></i>
        </div>
        <div class="controls_middle">
          <i class="fa fa-play-circle"></i>
        </div>
        <div class="controls_right">
          <i class="fa fa-step-forward"></i>
        </div>
      </div>
    </div>
  </div>
</div>



   
</body>
</html> 

