<div class="main_container">
    <form id="login_box" 
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
        <div class="login_form">
            <span id="login_title">LYNX<br></span>
            <input  formControlName="email"
                    class="login_content"
                    type="text" 
                    name="username"
                    placeholder="Username">
            <input  formControlName="password"
                    class="login_content" 
                    type="password" 
                    name="password" 
                    placeholder="Password">
            <!--<a href="/library"><input class="login_content" id="login_btn" type="submit" value="Login"></a>
            -->
            <button 
            type="submit"
            class="login_content" 
            id="login_btn"
            >Login</button>

            <a href="/register"><input class="login_content" id="login_btn" value="Register"></a>
            </div>   
    </form>
</div>
