{{> head }}

    <body>
        
       
 {{> navbar}}
        <div class="main_container">
            
            {{{ body }}}
        </div>
        {{> footer}}
    </body>
    {{> background}}
</html>