.checked {
    color: #4b19ff;
}

#error_msg {
    left: 50%;
    color: beige;
}

/******* CARD *******/
.card {
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.task_container {
    padding: 4px 10px;
    background-color: #333;
    color: beige;
    margin: 10px;
    /*border-radius: 10px;*/
}

.task_container:hover {
    background-color: #4b19ff;
    color: beige;
}

.task_image {
    height: 10%;
    width: 10%;
}

