.task_text{
  color: #adb7bd; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0;
}

.label1 {
color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 45px; font-weight: 300; line-height: 58px; margin: 0 0 58px; text-align: center;
}


.Cont{
  display: flex;
}

.Cont2{
  display: flex ; 
}

.Cont3{
  display: flex; 
}

.Cont4{
  display: flex;  
}

.task_solution{
  color: #adb7bd; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 15px;  margin-left: 15px;  
  
} 
.label3{
  color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 15px; 
}

.chapter{
  color: #adb7bd; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 15px;  margin-left: 15px;
}
.label4{
  color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 15px; 
}

.year{
  color: #adb7bd; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 11px;  margin-left: 15px;
}
.label5{
  color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 15px; 
}

.complexity{
  color: #adb7bd; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 11px;  margin-left: 15px;
}
.label6{
  color: #ffffff; font-family: ‘Lato’, sans-serif; font-size: 15px; 
}

 /*.Group{
  display: flex;
}*/

.task_container{
  color: #ffffff; font-family: ‘Lucida Sans’, Arial, sans-serif; font-size: 15px;
}

#idVhod{
  visibility: hidden;
}