
<div id="main">
<div class="row">

  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class="library_image" src="disk.png"/>
      <p>Name</p>
      <p>Artist</p>
    </div>
  </div>
  
  
</div>

</div>