

body{
    margin: 0%;
    background: #0f0f11;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo{
    margin: 2px;
    border-radius: 30px;
}
h1{
    color: whitesmoke;
    cursor: pointer;
    font-style: italic;
}