.next_button:hover {
	border-color: 35px solid #a31717;;
}

.triangle-right {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-color: inherit;
	border-top: 22px solid transparent;
	border-left: 35px solid #fff;
	border-bottom: 22px solid transparent;
}

.triangle-right:hover {
	border-color: 35px solid #a31717;;
}

.second-triangle-right {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-left: 35px solid #fff;
	border-bottom: 22px solid transparent;
	margin-left: 30px;

}