<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="WP.png" alt="John Doe" id="card_img" style="width:20%; height:30%">
<div id="name_surmane"><h1>Логин</h1> <h1>Пароль</h1></div>
  <p class="title">Не знаю зачем он здесь</p>
  <p>Тестовая карточка</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Тык бля</button></p>
</div>

<style>

.card {
  display: flex;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*//* TRANSPARENCY COLOR */
  color: white;
  background-color: #333;
  /*max-width: 40%;*/
  margin: 2%;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}


#card_img {
  margin: 2%;
  margin-left: 5%;
}

#name_surmane {
  margin-left: 20%;
  
}
</style>