<h1>Need Music?</h1>
<p class="lead">Use the ngSpotify app to browse new releases and find your favorite songs</p>

<form>
  <div class="form-group">
    <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">
  </div>
</form>

<div *ngIf='searchRes'>
  <div *ngFor="let res of searchRes">
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="search-res card">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/artist/{{res.id}}">{{res.name}}</a>
            </h5>
            <div>
              <strong>Genres: </strong>
              <span *ngFor="let genre of res.genres">{{genre}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>