<!---------- UPDATE ----------->
<a href="/{{task.id}}#update" class="profile" id="update_btn">РЕДАКТИРОВАТЬ</a> <!--<img src="update.png"  height="25px" width="25px"/>-->
 
<div id="update_modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="updtext">РЕДАКТИРОВАТЬ ЗАДАЧУ</h1>
    <form action="/update" method="POST">
      <!------------------------------------------------>
      <!-------------------- ТЕКСТ --------------------->
      <!------------------------------------------------>
      <label for="text" class="updtext1">ТЕКСТ ЗАДАЧИ</label>
      <textarea id="text" name="text" type="text" placeholder="Введите что-нибудь.." class="validate" style="height:150"></textarea>
      <!------------------------------------------------>
      <!-------------------- ОТВЕТ --------------------->
      <!------------------------------------------------>
      <label for="solution" class="updtext1">ОТВЕТ</label>
      <textarea id="solution" name="solution" placeholder="Введите что-нибудь.." class="validate" style="height:50px"></textarea>
      <!------------------------------------------------>
      <!----------------- ИЗОБРАЖЕНИЕ ------------------>
      <!------------------------------------------------>
      <label for="img" class="updtext1">ИЗОБРАЖЕНИЕ</label>
      <input id="img" name="img" type="text" placeholder="Путь к картинке" class="validate">
      <!------------------------------------------------>
      <!-------------------- РАЗДЕЛ -------------------->
      <!------------------------------------------------>
      <label for="chapter" class="updtext1">РАЗДЕЛ</label>
      <div id="chapter" name="chapter" class="cd-filter-content cd-select cd-filters">
        <select class="filter select" name="chapter">
          <option value="Все">Все</option>
          <option value="Механика">Механика</option>
          <option value="Термодинамика">Термодинамика</option>
          <option value="Оптика">Оптика</option>
          <option value="Электродинамика">Электродинамика</option>
        </select>
      </div>
      <!------------------------------------------------>
      <!-------------------- КЛАСС --------------------->
      <!------------------------------------------------>
      <label for="year" class="updtext1">КЛАСС</label>
      <div id="year" name="year" class="cd-filter-content cd-select cd-filters">
        <select class="filter select" name="year">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
        </select>
      </div> 
      <!------------------------------------------------>
      <!------------------ СЛОЖНОСТЬ ------------------->
      <!------------------------------------------------>
      <label for="complexity" class="updtext1">СЛОЖНОСТЬ ЗАДАЧИ</label>
      <div id="complexity" name="complexity" class="cd-filter-content cd-select cd-filters">
        <select class="filter select" name="complexity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div> 
      <!------------------------------------------------>

      <input type="hidden" name="id" value="{{task.id}}"> <!------- ВАЖНО!!! ПЕРЕДАЁТ ID В ROUTE -------------->

      <div class="bytton"><button class="btnb">СОХРАНИТЬ</button></div>
      
    </form>
  </div>
</div>
