<nav-component></nav-component>

<div class="main_container">

  <div class="body">
    <button (click)="initiateAudioContext()">Start Audio Context</button>
    <input type="file" accept="audio/*" (change)="choseFile($event.target.files)"/>
    <button (click)="play()">Play</button>
    <button (click)="stop()">Stop</button>
    <button (click)="change()">Change</button>
    <button (click)="save()">Save</button>
  </div>
  
</div>


<!--<audio id="audio" src='../../assets/tracks/this_blood.mp3'></audio>
    <div id="controls">
        <div class="audio-track"><div class="time"></div></div>
        <button class="play">Play</button>
        <button class="pause">Pause</button>
        <button class="prev">&#60;prev</button>
        <button class="next">next&#62;</button>
    </div>
-->