<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/add.css">
        <link rel="stylesheet" href="/update.css">
        <link rel="stylesheet" href="/page.css">
        <link rel="stylesheet" href="/tasks.css">
        <link rel="stylesheet" href="/search.css">
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/task.css">
        <link rel="stylesheet" href="/remove.css">
        <link rel="stylesheet" href="/profile.css">
        <!--<link rel="stylesheet" href="/normalize.css">-->
        <!-- FONTS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- TASK SEARCH (J-QUERY) -->
	    <link rel="stylesheet" href="/filter-style.css"> 
        <!-- FAVICON -->
        <link rel="shortcut"  href="/favicon.ico" type="image/x-icon">



       
	  
        
        
        <title>{{title}}</title>
    </head>

