	/* The Modal (background) */
.remove_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.remove_modal_content {
  text-align: center;
  background-color: #333;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.remove_btn {
    color: #adb7bd;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    background-color: #333;
    padding: 20px 100px;
    font-family: ‘Lucida Sans’, Arial, sans-serif;
    font-size: 18px;
}

.remove_btn:hover {
    background-color: #4b19ff;
}

#no_remove {
  float:  right;
  margin-right: 25%;
  padding: 20px;
  height: auto;
}
/*
.remove_form {
  width: 20%;
  margin-right: 10%;
}
*/
.confirm{
  color: white;
}