#task_text {
    padding: auto;
    height: 20%;
  }
  
  .update_btn {
    font-size: 16px;  
    font-weight: 700;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 50px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  
  
  
  
 